/*
=========================================
; Title: Britt-bobs-auto-repair.css
; Author: Andrew Britt
; Date: 24 Jun 2022
; Description: CSS for week 5 assignment
; References: Web-330 Week-5 PDF instructions
=========================================    
*/

#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

#cart-message:hover {
    cursor: pointer;
}